@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-effect::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px; /* Adjust the thickness of the line here */
    background:  #b9a2c3; /* Color of the line */
    position: absolute;
    bottom: -4px; /* Adjust the distance from the text */
    left: 0;
}

.text-with-underline {
    position: relative;
}

.product-name {
    transition: text-decoration 0.3s;
}

.group:hover .product-name {
    text-decoration: underline;
}

/* Remove the default arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.website-links > li > a:hover {
    color: oklch(var(--n));
    text-decoration: underline;
}

.website-links > li > a {
    color: oklch(var(--n));
}

.no-stretch{
    object-fit: contain;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.suggestions-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.suggestions-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.truncate-suggestion {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestion{
    width: 90%;
}

 .-z-1 {
     z-index: -1;
 }

.origin-0 {
    transform-origin: 0%;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value='']):valid ~ label {
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.5rem;
}

input:focus ~ label,
select:focus ~ label {
    /* @apply text-black; left-0; */
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    left: 0px;
}