@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-effect::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px; /* Adjust the thickness of the line here */
    background:  #b9a2c3; /* Color of the line */
    position: absolute;
    bottom: -4px; /* Adjust the distance from the text */
    left: 0;
}

.text-with-underline {
    position: relative;
}

.product-name {
    transition: text-decoration 0.3s;
}

.group:hover .product-name {
    text-decoration: underline;
}

/* Remove the default arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.website-links > li > a:hover {
    color: oklch(var(--n));
    text-decoration: underline;
}

.website-links > li > a {
    color: oklch(var(--n));
}

.no-stretch{
    object-fit: contain;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.suggestions-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.suggestions-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
